@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif !important;
}

body {
    background-color: #f5f5f5;
}

#menu {
    display: none;

}

/* PAGINA SOBRE MI*/

#headerSobre{
    background-color: #5338b1;
}

.menuSobre {
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menuSobre .logo {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
}

.menuSobre .navbar ul li {
    position: relative;
    float: left;
    padding: 20px;
}

.menuSobre.navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #2d2d2d;
    display: block;
}

.menuSobre.navbar ul li a:hover {
    color: #0EAEF3;
}


.menuSobre-icono {
    width: 25px;
}

.menuSobre label {
    cursor: pointer;
    display: none;

}


